.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar {
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #313a46;
}
.header {
  height: 80px;
}
